@import "tailwindcss";

@theme{
    --color-transparent: transparent;
    --color-primary: #1062ab;
    --color-primary-100: #6891b4; 
    --color-primary-200: #a8c6f0;
    --color-secondary: #7f7876;
    --color-secondary-100: #E2DFDF;
    --color-accent: #69B586;
    --color-accent-100: #43895E;

    --font-DmSans: "DM Sans",sans-serif;
    --font-LeagueGothic: "League Gothic", sans-serif;
}



*{
    font-family: Poppins, sans-serif;
}


html, body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

.font-league-gothic {
    font-family: 'League Gothic', sans-serif;
}
.font-dm-sans {
    font-family: 'DM Sans', sans-serif;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove arrows from number input in Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.outline-x {
  position: relative;
}
.outline-x:after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -0.75rem;
  right: -0.75rem;
  border-right: 3px solid #1062ab;           
  z-index: 2;
}

.outline-x-green {
  position: relative;
}
.outline-x-green:after {
  content: "";
  pointer-events: none;
  position: absolute;
  top: -6px;
  bottom: -6px;
  left: -0.75rem;
  right: -0.75rem;
  border-left: 3px solid #43895E;        
  z-index: 2;
}